{% extends 'base.html' %}
<!DOCTYPE html>
<html>
  <body>
    {% block contents %}

    {% for blog in blogs.all %} 
    <br> 
    <div class="container"> 
        <!-- <h1>제목 : {{ blog.title }}</h1> 
        <p>시간 : {{ blog.pub_date }}</p> 
        <p>내용 : {{ blog.body }} <a href = "{% url 'detail' blog.id %}">...more</a></p> --> 
        <div class="card"> 
            <div class="card-body"> 
                <h5 class="card-title">{{ blog.title }}</h5> 
                <h6 class="card-subtitle mb-2 text-muted">{{ blog.pub_date }}</h6> 
                <p class="card-text">{{ blog.body }}</p> 
                <a href="{% url 'detail' blog.id %}" class="card-link">...more</a> 
            </div> 
            </div> 
    </div> 
    {% endfor %}


  </body>
</html>


{% endblock %}